
# Environment
.venv/
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Data
*.csv
*.parquet
*.pt
*.bin
*.safetensors
artifacts/
reports/
data/
checkpoints/
final_medgemma_model/

# Logs
wandb/
*.log

# Secrets
hf_tokken.txt
.env
